@import "style";
@import "base-min";
@import "modules";
@import "blocks";
@import "front-page";
@import "custom";
@import "fresco";
@import "perfect-scrollbar";

@import "aos";
@import "preloader";
@import "404";
@import "fonts";

$desktop-wide: 1921px;
$desktop: 1920px;
$laptop: 1440px;
$laptop-midle: 1400px;
$laptop-small: 1200px;
$tablet-wide: 1024px;
$tablet-tort: 768px;
$phone-wide: 500px;
$phote-port: 400px;
$transition: 0.3s;

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
  background-repeat: no-repeat;
}
body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  overflow: hidden;
  flex: 1;
}
.lock{
  overflow: hidden;
  height: 100vh;
}
@import "front-page";

.header-phone{
  font-size: 1.5rem;
  font-weight: bolder;
  color: #4118D3!important;
  margin-left: 1rem;
}
.header_front_page > .right > .city > .up{
  span{
    &:nth-child(3){
      transform: rotate(0) !important;
    }
  }
}
.logo{
  border-bottom: none!important;
}
.header{
  &__language{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    a{
      margin: 0 1rem;
      color: #000000;
    }
    &.language-mobile{
      display: none;
      @media all and (max-width: $tablet-wide){
        display: block;
      }
    }
    span, a{
      font-weight: 700;
      font-size: 1rem;
      line-height: 1rem;
      color: #0D0E17;
      margin: 0;
      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
    img{
      border-radius: 50%;
      margin-right: 6px;
    }
    &-current{
      display: flex;
      align-items: center;
      cursor: pointer;
      a{
        border-bottom: none!important;
        &:hover{
          border-bottom: none!important;
        }
      }
      svg{
        margin-left: 4px;
      }
    }
    &-else{
      box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
      padding: 0 6px 0 0;
      position: absolute;
      top: calc(100% + 2rem);
      left: -66px;
      background: #FFFFFF;
      border-radius: 10px;
      z-index: 2;
      width: max-content;
      overflow-y: hidden;
      &-wrapper{
        height: auto;
        max-height: 131px;
      }
      a{
        margin: 0 6px 0 0!important;
        padding: 5px 55px 5px 10px;
        &:last-child{
          margin-bottom: 0!important;
        }
        &:hover{
          background-color: #F4F4F4;
        }
      }
    }
  }
}
.header_front_page{
  .left{
    .text{
      //width: auto;
    }
  }
}
.header__cities{
  position: relative;
  padding: 0 20px;
  @media all and (max-width: 1150px){
    padding-left: 0;
  }
  &-current{
    cursor: pointer;
    text-align: right;
    font-size: 16px;
    @media all and (max-width: 1150px){
      text-align: left;
    }
    a{
      border-bottom: none!important;
      &:hover{
        border-bottom: none!important;
      }
    }
    .corner{
      width: 6px;
      height: 6px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      transform: rotate(-45deg);
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 3px;
    }
    .underline-city{
      border-bottom: 1px dotted #3B1ECE;
      color: #3B1ECE !important;
    }
  }
  &-else{
    display: none;
    position: absolute;
    top: calc(100% + 16px);
    right: 14px;
    background-color: white;
    box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
    @media all and (max-width: 1150px){
      right: auto;
      left: 0;
    }
    a{
      display: block;
      padding: 5px 20px;
      font-size: 16px;
      white-space: nowrap;
      &:hover{
        text-decoration: none;
        border-bottom: none;
        background-color: #3B1ECE;
        color: white;
      }
    }
  }
}